Xft.dpi:                        109
URxvt*termName:                 rxvt-256color
URxvt*font:                     xft:Hack:size=11,xft:Inconsolata\ for\ Powerline:pixelsize=11
URxvt.depth:                    0
URxvt*lineSpace:                1
URxvt.iso14755:                 false
URxvt.iso14755_52:              false
URxvt*geometry:                 80x28
URxvt.scrollBar:                false
URxvt*loginShell:               true
URxvt.internalBorder:           10
URxvt.keysym.Shift-Control-C:   eval:selection_to_clipboard
URxvt.keysym.Shift-Control-V:   eval:paste_clipboard
URxvt.clipboard.autocopy:       true
URxvt*letterSpace: 		0

! Colors
*background:   [97]#282a36
*foreground:   #eff0eb
*cursorColor:  #9aedfe

*color0:      #33303b
*color8:      #4f4b58
*color1:      #ff5c57
*color9:      #ff5c57
*color2:      #5af78e
*color10:     #5af78e
*color3:      #f3f99d
*color11:     #f3f99d
*color4:      #57c7ff
*color12:     #57c7ff
*color5:      #ff6ac1
*color13:     #ff6ac1
*color6:      #9aedfe
*color14:     #9aedfe
*color7:      #eff0eb
*color15:     #eff0eb
